#send-message{
    background-color: rgb(21, 195, 154);
}
.message{
    list-style-type: none;
    background-color: rgb(21, 195, 154);
    width: 270px;
    word-wrap: break-word;

}

.chat-div{
    position:relative;
    min-width: 300px;
    max-width: 310px;
}

.card-footer-send{
    position: absolute;
    bottom: 0;
}