.btn-join{
    background-color: rgb(21, 195, 154);
    color: white;
}
.btn-join:hover{
    background-color: rgb(33, 150, 122);
    color: white;
}
.btn-create{
    background-color: black;
    color: rgb(216, 215, 215);
}
.btn-create:hover{
    background-color: rgb(49, 49, 49);
    color: white;
}
.idscreen{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:400px;
  padding:20px;
  justify-content: center;
  margin-top: 200px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px  rgb(33, 150, 122);
}